<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="styles/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b6c14489e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script defer src="js/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Rosell Template</title>
</head>

<body id="body" class="flex flex-col">
    <noscript class="fixed z-50 h-screen w-screen bg-white text-2xl flex justify-center items-center">
        This site requires javascript to work.
    </noscript>

    <header class="flex items-center justify-center w-full h-24 border-b border-gray-300">
        <nav class="flex w-full gap-4 p-4">
            <a id="playground-link" href="/home" class="text-2xl">Home</a>
        </nav>

        <div id="socials" class="flex justify-center absolute right-0 items-center gap-4 p-4">
            <a href="" target="_blank" class="text-2xl"><i class="fa-brands fa-github"></i></a>
            <a href="" target="_blank" class="text-2xl"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="text-2xl"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </header>

    <main class="flex-grow flex flex-col gap-4 items-center w-full mb-16">
        {{{body}}}
    </main>
</body>

</html>