<div class="flex flex-col w-full h-full">
    <section id="home-section" class="flex flex-col items-center gap-4 w-full h-screen">
        <div class="flex flex-col items-center gap-2 p-16">
            <h1 class=" text-5xl text-center">Studio Rosell - Template</h1>
        </div>
        <div>
            <p class="text-center text-xl font-medium">
                This is a template for a fullstack web application using thefollowing technologies:
            </p>
        </div>
        <ul class="flex flex-col gap-2 text-center font-medium">
            <li>Express</li>
            <li>Handelbars</li>
            <li>TypeScript</li>
            <li>Tailwind CSS</li>
            <li>Type OREM</li>
        </ul>
    </section>
</div>